
    <h3>LINKS</h3>
    <ul>
      <li>
        <a href="/">Home</a> <!-- Menuju Halaman ini, index.html -->
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Kontak</a>
      </li>
    </ul>